<visicutPreferences>
  <defaultMapping>alles cut</defaultMapping>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <windowBounds>
    <x>521</x>
    <y>383</y>
    <width>1472</width>
    <height>802</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/Users/nicolai/.visicut/examples/Anker.svg</string>
    <string>/Users/nicolai/.visicut/examples/20mm_rectangle.svg</string>
    <string>/Users/nicolai/.visicut/examples/20mm_circle.svg</string>
    <string>/Users/nicolai/.visicut/examples/Text_Makers Unite.svg</string>
    <string>/Users/nicolai/.visicut/examples/Marilyn.jpg</string>
  </recentFiles>
  <lastMaterial>Bristolkarton</lastMaterial>
  <lastLaserDevice>zing</lastLaserDevice>
  <availableImporters>
    <string>com.t_oster.visicut.model.graphicelements.svgsupport.SVGImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.jpgpngsupport.JPGPNGImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.dxfsupport.DXFImporter</string>
    <string>com.t_oster.visicut.model.graphicelements.epssupport.EPSImporter</string>
  </availableImporters>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
</visicutPreferences>