<visicutPreferences>
  <disableSandbox>false</disableSandbox>
  <windowBounds>
    <x>70</x>
    <y>6</y>
    <width>1460</width>
    <height>849</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>B:\wolf-auf-465\spaceman\2015-01-16-production-files\seat-3-engravetest.svg</string>
    <string>B:\wolf-auf-465\spaceman\2015-01-16-production-files\legs-a-engravetest.svg</string>
    <string>B:\wolf-auf-465\spaceman\2015-01-16-production-files\seat-3 [Converted].svg</string>
    <string>B:\wolf-auf-465\spaceman\2015-01-16-production-files\seat-mitte [Converted].svg</string>
    <string>B:\wolf-auf-465\spaceman\2015-01-16-production-files\seat-1 [Converted].svg</string>
  </recentFiles>
  <lastMaterial>Sperrholz Birke</lastMaterial>
  <lastLaserDevice>zing</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
</visicutPreferences>